:root {
    --header-bg-color: #333;
    --light: #f4f4f4;
}


body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
}

header {
    background-color: var(--header-bg-color)!important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
    padding: 10px 0 !important;
    top: 0 !important;
    width: 100% !important;
    color: var(--light) !important;
}

header h1 {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
}

header p {
    color: var(--light) !important;
    text-decoration: none !important;
    text-align: center !important;  
}

.card {
    border-radius: 3% !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
    margin: 10px !important;
    padding: 10px !important;
    width: 200px !important;
    height: 300px !important;
}

img {
    width: 200px !important;
    height: auto !important;
    object-fit: cover !important;
    
}

h4 {
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 10px 0 !important;
}